@font-face {
    font-family: 'grotesque_mtbold';
    src: url('grotesquemt-bold-webfont.woff2') format('woff2'),
         url('grotesquemt-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'grotesque_mtregular';
    src: url('grotesquemt-regular-webfont.woff2') format('woff2'),
         url('grotesquemt-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
