/* https://paulrhayes.com/animated-css3-cube-interface-using-3d-transforms/ */

#camera {  
    perspective: 1600px;
    perspective-origin: 50% 200px;
}

#cube {
  position: relative;
  margin: 0 auto;
  height: 400px;
  width: 400px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

#cube .f1 {
    transform: translateZ(200px);
}

#cube .f2 {
    transform: rotateY(90deg) translateZ(200px);
}

#cube .f3 {
    transform: rotateY(-90deg) translateZ(200px);
}

.face {
  position: absolute;
  height: 800px;
  width: 400px;
  padding: 20px;
  background-color: rgba(200, 200, 200, 1.0);
}






/* debug */

#controls {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

#control {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    color: #FFF;
    background-color: #999;
    border-radius: 10px;
}   

#control:hover {
    background-color: #666;
}



