/* https://paulrhayes.com/animated-css3-cube-interface-using-3d-transforms/ */

/* id */

#viewport {
    /* text-align: center; */
}

#docket {
    display: block;
    margin: 10px;
    padding-bottom: 100px;
}

/* background */

#docket .item {
    padding: 10px;
    color: #FFF;
    /* border-bottom: 2px solid #FFF; */
}

#docket .item a {
    color: #FFF;
}

/* ** fix css selectors!
.item .white {
    padding: 10px;
    color: #000;
}
*/

#docket .red {
    background-color: #F00;
}

#docket .green {
    background-color: #0F0;
}

#docket .blue {
    background-color: #00F;
}

#docket .white {
    background-color: #FFF;
}

/* no background 
#docket .item {
    padding: 10px;
    color: #FFF;
}

#docket .item a {
}

#docket .red {
    border-top: 1px solid #F00;
}

#docket .green {
    border-top: 1px solid #0C0;
}

#docket .blue {
    border-top: 1px solid #00F;
}
*/

#docket .sub a {
    background-color: transparent;
}

#cube {
    display: block;
    position: relative;
    white-space: nowrap;
}

#cube .head {
    text-align: center;   
}

#cube .sub {
    width: initial;
}

#cube .f1 {
}

#cube .f2 {
}

#cube .f3 {
}

#cube .f4 {
}

#ladder {
    display: none;
    position: relative;
    white-space: nowrap;
}

#ladder .head {
    text-align: center;   
}

#ladder .sub {
    width: initial;
}

#controls {
    /* display: none; */
    position: fixed;
    bottom: 10px;
    left: 10px;
    padding: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

#control-cube {
}

#control-ladder {
}


/* class */

.face {
    position: relative;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    white-space: initial;
    text-align: initial;
    /* padding: 20px; */
}

.control {
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    color: #FFF;
    background-color: #999;
    border-radius: 10px;
}   

.control:hover {
    background-color: #666;
}


/* mobile */

/* vertical iPad / horizontal iPhone */
@media screen and (max-width: 768px) {

}

/* vertical iPhone */
@media screen and (max-width: 500px) {

    #viewport {
        margin: 0px;
        margin-top: 0px;
        perspective: 18000px;
        perspective-origin: 50% 200px;
    }

    #cube {
        display: none;
        text-align: left;
        transition: transform 0.25s;
        transform-style: preserve-3d;
    }

    #cube .sub {
        display: none;
    }

    #cube .f1 {
        transform: translateZ(200px);
    }

    #cube .f2 {
        transform: rotateY(90deg) translateZ(200px);
    }

    #cube .f3 {
        transform: rotateY(-90deg) translateZ(200px);
    }

    #cube .f4 {
        transform: rotateY(-180deg) translateZ(200px);
    }

    #ladder {
        display: block;        
        text-align: left;
    }

    #ladder .sub {
        display: none;
    }

    .face {
        position: absolute;
        width: initial;  
        padding: 0px;
        height: 2000px;
        background-color: #CCC;
    }

    #in-formation {
        /* display: none; */
    }

    #controls {
        display: block;
    }
}


/* animation */

