@font-face {
    font-family: 'ocrbmedium';
    src: url('ocrb-medium-webfont.woff2') format('woff2'),
         url('ocrb-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
